<!DOCTYPE html>
<html>
    <head>
        <!-- relative path -->
        <!-- <link rel="stylesheet" href="./css/styles.css"> -->
        <!-- absolute path -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div> 
        {{>footer}}
    </body>
</html>